[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QCEWAS"]
	path = QCEWAS
	url = https://github.com/cran/QCEWAS
[submodule "QCGWAS"]
	path = QCGWAS
	url = https://github.com/cran/QCGWAS
